{{ define "main" }}

<script src="https://cdn.rawgit.com/arose/ngl/v0.10.4-1/dist/ngl.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var stage = new NGL.Stage("viewport", {backgroundColor: "white"});
    stage.loadFile("https://files.rcsb.org/download/8u1b.pdb", {defaultRepresentation: true});
  });
</script>


<div class="container" role="main">
  <div class="row">
    <h1> All Posts: </h1>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <center>
        <div id="viewport" style="width:300px; height:300px;"></div>
      </center>
      <main>
        {{.Content }}

        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ $groupedPages := $pages.GroupBy "Type" }}
        {{ range $type, $typePages := $groupedPages }}
        <h1 class="post-type-header"> {{index site.Params.mainSections $type }} </h1>
        {{ range $typePages.GroupByPublishDate "2006-01" }}
        <h2 class="archive-year" id="{{.Key | urlize}}">{{.Key}}</h2>
        <ul class="year-of-posts">
          {{ range sort .Pages "PublishDate" "asc" }}
          <li>
            <p>
              <time datetime="{{ .PublishDate.Format " 2006-01-02T15:04:05-07:00" }}"></time>
              {{ .PublishDate.Format "January 2" }}: <a href="{{.Permalink}}">{{.Title}} </a>
            </p>
          </li>
          {{end}}
        </ul>
        {{end}}
        {{end}}
      </main>
    </div>
  </div>
</div>

{{end}}
